TA#1/CogRob - TA#1 - Sunday Recording.mp4
TA#1/TA#1.zip
TA#1/.ipynb_checkpoints/TA Episode #1 - A New OOP-checkpoint.ipynb
TA#2/TA#2.zip
TA#3/TA#3.zip
TA#4/Drones/__pycache__/drones_upf.cpython-38.pyc
TA#4/SimpleExample/__pycache__/simple_upf.cpython-38.pyc
TA#4/TowerOfHanoi/__pycache__/hanoi_upf.cpython-38.pyc
TA#4/TravellingJediProblem/__pycache__/tjp_upf.cpython-38.pyc
TA#1/Cognitive Robotics - Tutorial #1 - Introduction to Object-Oriented Programming.mp4
TA#2/Cognitive Robotics - Tutorial #2 - Introduction to Classical Planning.mp4
TA#2/.idea/.gitignore
TA#2/.idea/misc.xml
TA#2/.idea/modules.xml
TA#2/.idea/TA#2.iml
TA#2/.idea/vcs.xml
TA#2/.idea/inspectionProfiles/profiles_settings.xml
TA#3/Cognitive Robotics - Tutorial #3 - Classical Planning Algorithms.mp4
TA#4/TA#4.zip
Misc/farmer_upf.py
Misc/problem_hanoi7.pddl
Misc/problem_hanoi8.pddl
TA#4/Cognitive Robotics - Tutorial #4 - The Unified Planning Framework.mp4
TA#5/TA#5.zip
TA#5/MatchCellar/__pycache__/match_upf.cpython-38.pyc
TA#5/SatelliteNum/__pycache__/satellite_num_upf.cpython-38.pyc
TA#5/SatelliteTemp/__pycache__/satellite_temp_upf.cpython-38.pyc
Tutorials/TA#5/SatelliteTemp/__pycache__/satellite_temp_upf.cpython-38.pyc
Tutorials/TA#5/SatelliteNum/__pycache__/satellite_num_upf.cpython-38.pyc
Tutorials/TA#5/MatchCellar/__pycache__/match_upf.cpython-38.pyc
Tutorials/TA#5/TA#5.zip
Tutorials/TA#4/TA#4.zip
Tutorials/TA#4/Cognitive Robotics - Tutorial #4 - The Unified Planning Framework.mp4
Tutorials/TA#3/TA#3.zip
Tutorials/TA#3/Cognitive Robotics - Tutorial #3 - Classical Planning Algorithms.mp4
Tutorials/TA#2/.idea/inspectionProfiles/profiles_settings.xml
Tutorials/TA#2/Cognitive Robotics - Tutorial #2 - Introduction to Classical Planning.mp4
Tutorials/TA#2/TA#2.zip
Tutorials/TA#2/.idea/.gitignore
Tutorials/TA#2/.idea/misc.xml
Tutorials/TA#2/.idea/modules.xml
Tutorials/TA#2/.idea/TA#2.iml
Tutorials/TA#2/.idea/vcs.xml
Tutorials/TA#1/Cognitive Robotics - Tutorial #1 - Introduction to Object-Oriented Programming.mp4
Tutorials/TA#1/TA#1.zip
Tutorials/TA#1/.ipynb_checkpoints/TA Episode #1 - A New OOP-checkpoint.ipynb
Homeworks/Homework #1.zip
Homeworks/Homework #1/HW#1_Solutions/Drones/__pycache__/drones_opt_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Drones/__pycache__/drones_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Drones/__pycache__/upf_drones_opt_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Drones/__pycache__/upf_drones_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Hanoi/__pycache__/hanoi3_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Hanoi/__pycache__/upf_hanoi3_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Jedi/__pycache__/tjp_num_opt_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Jedi/__pycache__/tjp_num_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Jedi/__pycache__/tjp_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1_Solutions/Jedi/__pycache__/upf_tjp_sol.cpython-38.pyc
Homeworks/Homework #1/HW#1.zip
Tutorials/TA#5/Cognitive Robotics - Tutorial #5 - Temporal & Numeric Planning.mp4
Tutorials/TA#6/Cognitive Robotics - Tutorial #6 - Fundamentals of Linux.mp4
Tutorials/TA#9/TA#9.zip
Homeworks/Homework #2/HW#2 - Guidance.mp4
Tutorials/TA#9/Cognitive Robotics - Tutorial #9 - Introduction to Motion Planning.mp4
Tutorials/TA#9/GridBasedSearch/__pycache__/GridSearch.cpython-38.pyc
Tutorials/TA#9/GridBasedSearch/__pycache__/MapEnvironment.cpython-38.pyc
Tutorials/TA#9/VisibilityGraph/__pycache__/Dijkstra.cpython-38.pyc
Tutorials/TA#9/VisibilityGraph/__pycache__/VisGraph.cpython-38.pyc
Tutorials/TA#10/RRT/__pycache__/MapEnvironment.cpython-38.pyc
Tutorials/TA#10/RRT/__pycache__/RRTPlanner.cpython-38.pyc
Tutorials/TA#10/RRT/__pycache__/RRTStarPlanner.cpython-38.pyc
Tutorials/TA#10/RRT/__pycache__/RRTTree.cpython-38.pyc
Tutorials/TA#10/PRM/__pycache__/PRM_Geometry.cpython-38.pyc
Tutorials/TA#10/PRM/__pycache__/PRM_MotionPlanner.cpython-38.pyc
Tutorials/TA#10/PRM/__pycache__/PRM_Plotter.cpython-38.pyc
Homeworks/Homework #1/HW1_MemeBoard.png
Homeworks/Homework #1/.vscode/settings.json
Tutorials/TA#10/Cognitive Robotics - Tutorial #10 - Sampling-Based Motion Planning.mp4
Tutorials/TA#10/TA#10.zip
Tutorials/TA#11/TA#11.zip
Tutorials/TA#12/Code/__pycache__/DynamicProgramming.cpython-38.pyc
Tutorials/TA#12/Code/__pycache__/EnvSetup.cpython-38.pyc
Tutorials/TA#12/Code/__pycache__/PassiveRL.cpython-38.pyc
Homeworks/Homework #2/HW#2 - Submissions/Ziv_Orly/vis.mp4
